# Ignore everything inside Data folder
Data/*

# But allow these two files
!Data/app.py
!Data/train_model.py

# Ignore csv files (dataset)
*.csv

# Ignore virtual environment
venv/

# Trained models - Uncomment to track Models folder and .h5 files
# Models/
# *.h5

# Ignore python cache
__pycache__/
*.pyc

# Ignore uploads
static/uploads/

# Ignore pdf files
*.pdf
